a{
    text-decoration: none;
    color: wheat;
    font-family: cursive;
    font-size: 20px;

}

a:hover{
    color: red;
}

ul li{
    list-style-type: none;
    /* display: block inline; */
}

*{
    background-color:blue ;
}